// All overrides
$font-family: 'Open Sans', sans-serif !default;
$font-family-base: $font-family !default;

$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1500px
);

$container-max-widths: (
  sm: 1427px,
  md: 1428px,
  lg: 1429px,
  xl: 1430px
);

$primary:   #f0ad4e !default;
$body-color:    #404f54 !default;


body {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family;
        color: $body-color;
        line-height: 1.2;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
    }
}
a {
    text-decoration: none !important;
}

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Global styles
// Accordion
.bnz_card_header {
    .btn-link {
        position: relative;
        width: 28px;
        height: 28px;
        &:before, &:after {
            content: '';
            position: absolute;
            border-radius: 4px;
            background-color: $primary;
        }
        &:before {
            width: 100%;
            height: 4px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:after {
            width: 4px;
            height: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            transition: all .3s;
        }
    }
    &.collapsed {
        .btn-link {
            &:after {
                height: 100%;
                top: 0;
            }
        }
    }
}
// accordion

// Import my styles
@import "styles.css";
@import "media.css";