@media (max-width: 1440px) and (min-width: 992px) {
    body {
        #product_view {
            .prod_slider {
                max-width: 36% !important;
                margin-right: 2% !important;
            }
            .prod_buy {
                max-width: 26% !important;
            }
            .prod_info {
                max-width: 34% !important;
                margin-right: 2% !important;
            }
        }
    }
}

@media (max-width: 991.98px) and (min-width: 576px) {
    body {
        #product_view {
            .prod_slider {
                max-width: 650px !important;
            }
            .prod_buy {
                max-width: 46% !important;
            }
            .prod_info {
                max-width: 52% !important;
                margin-right: 2% !important;
            }
        }
    }
}

@media (max-width: 1300px) {
    body {
        .tco_nav .nav-item .nav-link {
            font-size: 14px;
            padding: 15px 3px;
            margin: 0 5px;
        }
    }
}

@media (max-width: 1220px) {
    body {
        footer {
            .footer_nav {
                .footer_socials a i {
                    font-size: 25px;
                    padding: 0 13px;
                }
                .bbb {
                    img {
                        max-width: 120px;
                    }
                }
                .affiliates {
                    img {
                        max-width: 60px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1200px) {
    body {
        .recently_sliders {
            .sold_slider {
                padding-left: 80px;
                padding-right: 80px;
            }
        }
    }
}

// // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .navbar.home_nav {
        padding-top: 8px;
        padding-bottom: 8px;
        .navbar_right {
            display: none;
        }
    }
    body {
        #hero {
            .hero_nav_cont {
                .nav_srch {
                    max-width: 100%;
                    h2 {
                        font-size: 25px;
                        font-weight: 700;
                        span {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                    form {
                        .form-row {
                            input {
                                padding: 13px 20px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
    
        }
        #featured_parts {
            .parts_cards {
                .col-12 {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                    padding: 0 !important;
                }
                .card {
                    padding: 20px 4%;
                    .card-title {
                        font-size: 15px;
                    }
                    .card-text {
                        font-size: 13px;
                    }
                    .btn-sm {
                        font-size: 13px;
                        line-height: 1.3;
                    }
                }
            }
        }
        .header {
            padding: 15px 0;
            .nav_srch {
                order: 1;
                margin-top: 10px;
                form {
                    max-width: 100%;
                }
            }
        }
        .tco_nav {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                    padding: 5px !important;
                    margin: 0;
                    display: inline-block;
                    &::before {
                        max-height: 2.5px;
                    }
                }
            }
            .navbar_right {
                display: flex;
                flex-direction: row;
            }
        }
        main {
            #product_view {
                .prod_slider {
                    margin: 0 auto 30px;
                }
                .prod_bottom_info {
                    margin: 20px 0;
                    padding: 0;
                    .container {
                        .d-flex {
                            padding: 15px 0;
                            border: 0 !important;
                            img {
                                height: 25px;
                                margin-bottom: 15px;
                            }
                            p {
                                margin-left: 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .prod_desc {
                    .accordion {
                        padding-left: 0;
                        .card-header {
                            padding: 15px 10px;
                            h5 {
                                font-size: 18px;
                                line-height: 0;
                            }
                            .btn-link {
                                width: 20px;
                                height: 20px;
                                padding: 0;
                            }
                        }
                        .card-body {
                            p {
                                font-size: 14px;
                                line-height: 1.2;
                            }
                        }
                    }
                }
                .payments {
                    margin: 25px 0 40px 0;
                    img {
                        margin-right: 20px;
                        max-width: 60px;
                    }
                }
            }
            .sec_title {
                margin-bottom: 20px;
                h2, h3 {
                    font-size: 22px;
                }
            }
            #recently_sold {
                padding: 40px 0 32px;
                .swiper-container {
                    .card {
                        .card-img-top {
                            height: auto;
                        }
                        .card-body {
                            .card-subtitle {
                                font-size: 13px;
                                line-height: 1.9;
                            }
                        }
                    }
                    .badges {
                        .badge {
                            font-size: 13px;
                            line-height: 1.4;
                            height: 30px;
                            img {
                                max-width: 16px;
                                margin-right: 9px;
                            }
                        }
                        span.badge {
                            width: 100%;
                            justify-content: center !important;
                        }
                    }
                }
            }
            .recently_sliders .sold_slider {
                margin-bottom: 20px;
            }
            #assurance {
                background-attachment: unset !important;
                .sec_title {
                    p {
                        font-size: 19px !important;
                    }
                }
                .assur_body .assur_col .assur_img {
                    height: 137px;
                    width: 137px;
                    img {
                        max-width: 55px;
                    }
                }
            }
            .view_header_cont {
                margin: 0 -10px 30px;
                h2 {
                    font-size: 21px;
                    transform: translateX(10px);
                }
            }
            .view_title {
                padding-bottom: 30px;
                border-bottom: 0;
                h3 {
                    font-size: 19px;
                }
                p {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
        footer {
            .footer_nav {
                padding-left: 10px !important;
                padding-right: 10px !important;
                padding: 30px 0 20px;
                .col-12 {
                    padding: 0 10px !important;
                    margin-bottom: 20px;
                }
                .nav_cols {
                    padding-bottom: 0 !important;
                }
                .footer_list {
                    p {
                        font-size: 12px;
                        line-height: 1.3;
                    }
                    li {
                        font-size: 13px;
                        img {
                            width: 15px;
                            margin-right: 10px;
                        }
                    }
                }
                .popular, .links {
                    padding: 0 10px !important;
                    border-left: 0 !important;
                }
                .footer_title {
                    font-size: 17px;
                }
                .affiliates {
                    width: 100%;
                    order: -1;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .footer_title {
                        margin: 0 0 10px;
                    }
                    a {
                        margin-left: 0;
                        margin: 0 5px;
                        img {
                            max-width: 50px;
                        }
                    }
                }
            }
        }
    }
}

// // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body {
        .header {
            padding: 5px 0 15px;
            .nav_srch {
                order: 1;
                margin-top: 10px;
                form {
                    max-width: 100%;
                    .form-row input {
                        padding: 10px;
                        font-size: 13px;
                    }
                    .search_btn {
                        padding: 5px 11px;
                        img {
                            width: 20px;
                        }
                    }
                }
            }
        }
        .navbar.home_nav {
            .navbar-toggler {
                margin-right: 16px;
            }
        }
        .top_nav {
            order: -1;
            margin-bottom: 5px;
            justify-content: center !important;
            img {
                display: none;
            }
            .phone_info {
                margin: 0;
                display: flex;
                align-items: center;
                h3 {
                    font-size: 15px;
                    margin: 0;
                }
                p {
                    font-size: 9px;
                    margin-left: 10px;
                    max-width: 120px;
                }
            }
        }
        .logo_cont {
            text-align: center;
            img {
                max-width: 150px;
            }
        }
        .nav_mobile_links {
            .nav-link {
                padding: 20px 10px !important;
                svg {
                    height: 26px !important;
                }
            }
        }
        .tco_nav {
            .nav-item {
                .nav-link {
                    font-size: 14px;
                    padding: 5px !important;
                    margin: 0;
                    display: inline-block;
                    &::before {
                        max-height: 2.5px;
                    }
                }
            }
            .navbar_right {
                display: flex;
                flex-direction: row;
            }
        }
        main {
            #engine_hero {
                .view_header_cont {
                    margin: 0 -10px 0;
                    .view_header {
                        min-height: auto;
                        padding-top: 30%;
                        margin-bottom: 60px;
                    }
                }
                .mobile_search_list {
                    margin: 0 -10px 30px;
                    h4 {
                        padding: 12px 10px;
                        font-size: 15px;
                    }
                }
                .breadcrumb-item {
                    font-size: 13px;
                }
            }
            #product_view {
                .prod_title {
                    h2 {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-size: 14px;
                    }
                }
                .prod_info {
                    .price_info {
                        h3 span {
                            font-size: 24px;
                        }
                        .msrp {
                            font-size: 17px;
                            margin-right: 22px;
                        }
                        .save {
                            font-size: 17px;
                        }
                    }
                    .prod_warranty {
                        margin-bottom: 30px;
                        h4 {
                            margin-bottom: 10px;
                        }
                    }
                }
                .prod_buy {
                    .btn {
                        font-size: 17px;
                        line-height: 1.4;
                        padding: 11px;
                        margin-bottom: 15px;
                        &.btn-secondary {
                            margin-bottom: 15px;
                        }
                        img {
                            width: 20px;
                        }
                    }
                    .prod_notes p {
                        font-size: 13px;
                        color: #000;
                        margin-bottom: 10px;
                    }
                }
            }
            #reviews {
                padding-top: 40px;
                padding-bottom: 30px;
                .container {
                    .rev_icon {
                        top: -62px;
                        right: 10px;
                    }
                }
                .rev_stat {
                    margin-bottom: 60px;
                    p {
                        font-size: 14px;
                    }
                }
                .swiper-container-review {
                    padding: 0 15px;
                    .swiper-button-prev, .swiper-button-next {
                        padding: 15px 5px;
                    }
                }
                .swiper-slide {
                    .review_text {
                        margin-bottom: 25px;
                    }
                    h4 {
                        margin-bottom: 15px;
                    }
                    span {
                        margin-bottom: 30px;
                    }
                }
                &.review_testim {
                    .swiper-container-review {
                        .swiper-button-next, .swiper-button-prev {
                            padding: 15px 7px;
                        }
                    }
                    .swiper-slide {
                        .review_text {
                            font-size: 16px;
                        }
                        span {
                            margin-bottom: 40px;
                            font-size: 15px;
                        }
                    }
                }
            }
            .customer_rev {
                .swiper-container-customer-review {
                    padding-top: 30px;
                    padding-bottom: 60px;
                }
            }
            #recent_arr {
                padding: 90px 0 47px;
                .sec_title {
                    margin-bottom: 30px;
                }
                .btn_sec {
                    .btn {
                        font-size: 14px;
                        padding: 8px;
                        min-width: auto;
                        width: 100%;
                        max-width: 110px;
                    }
                }
            }
            #assurance {
                padding-top: 50px;
                padding-bottom: 40px;
                .assur_body {
                    .assur_col {
                        margin-bottom: 15px;
                        .assur_img {
                            height: 110px;
                            width: 110px;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 1.3;
                        }
                    }
                }
                .sec_title {
                    p {
                        font-size: 15px;
                    }
                }
            }
            .grid_nav {
                padding: 0;
            }
            .product_grid_view {
                margin-top: 30px;
            }
            #shipping_cart {
                margin-top: 40px;
                margin-bottom: 0;
                .prod_shop_cart {
                    padding: 7px;
                    .card-title {
                        font-size: 16px;
                        padding-right: 40px;
                        margin-bottom: 10px;
                    }
                    .cart_info {
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                        padding-right: 40px;
                    }
                    .card-body p {
                        font-size: 13px;
                    }
                    .cart_info_2 {
                        padding-right: 40px;
                    }
                    .remove_prod_cart {
                        top: 15px;
                        right: 15px;
                    }
                    .card-img-top {
                        height: 200px;
                        padding-right: 10px;
                    }
                }
                .total_cart {
                    max-width: 100%;
                    text-align: right;
                    .total_info, .total_title {
                        padding: 15px 40px 10px;
                    }
                }
                .cart_payment_sec {
                    .sec_title h3 {
                        font-size: 20px;
                    }
                    .cart_payment_methods .btn {
                        font-size: 16px;
                    }
                    .cart_payment_methods, .cart_payment_options, .cart_security {
                        padding-bottom: 15px;
                        margin-bottom: 30px;
                        .btn {
                            font-size: 16px;
                        }
                        h3 {
                            font-size: 20px;
                        }
                        img {
                            max-height: 28px;
                            margin: 0 8px 0 0;
                        }
                    }
                }
            }
        }
        footer {
            .footer_nav {
                .footer_socials a i {
                    font-size: 22px;
                    padding: 0 9px;
                }
                .bbb img {
                    max-width: 90px;
                }
            }
            .footer_main {
                .col-12 {
                    text-align: center !important;
                    margin-bottom: 20px;
                }
            }
            .footer_main {
                padding: 40px 0 30px;
            }
        }
    }
}

@media (max-width: 670px) {
    body {
        main {
            #product_view .prod_slider {
                max-width: calc(100vw - 20px) !important;
            }
        }
    }
}

// // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body {
        main {
            .btn_sec .btn {
                font-size: 16px;
                padding: 12px;
            }
            .grid_view_card {
                flex: 0 1 50%;
                padding: 25px 10px;
                .card-img-top {
                    height: 180px;
                }
                .card-body {
                    .card-title {
                        font-size: 15px;
                    }
                    .card-text {
                        font-size: 14px;
                    }
                    .price {
                        .was {
                            font-size: 16px;
                        }
                        .now {
                            font-size: 21px;
                        }
                    }
                    .info {
                        p {
                            font-size: 14px;
                        }
                    }
                }
                .ship_info {
                    padding: 7px 5px;
                    p {
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
            }
            .product_grid_view>div {
                margin: -1px -10px;
            }
            #product_view {
                .prod_slider {
                    .swiper-container_prod.gallery-top {
                        height: 275px;
                    }
                }
            }
            #reviews .container .rev_icon {
                display: none;
            }
            #shipping_cart {
                .prod_shop_cart {
                    .card-img-top {
                        padding-right: 0;
                        margin-bottom: 10px;
                    }
                    .remove_prod_cart {
                        top: 5px;
                        right: 5px;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            #assurance {
                .assur_body {
                    .assur_col {
                        padding: 2px;
                        .assur_img {
                            height: 120px;
                            width: 120px;
                            img {
                                max-width: 45px;
                            }
                        }
                        p {
                            font-size: 11px;
                        }
                    }
                }
            }
            #featured_parts {
                .mobile_search_list {
                    h4 {
                        padding: 12px 15px;
                        font-size: 14px;
                    }
                    .dropdown {
                        img {
                            right: 10px;
                            height: 15px;
                        }
                    }
                }
                .parts_cards {
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 15px;
                }
            }
        }
    }
}

// // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    body {
        .grid_view_card {
            flex: 0 1 50%;
            padding: 20px;
        }
    }
}