$primary:               #f0ad4e !default;
$default-text:          #000000 !default;
$primary-text:          #de9e3c !default;
$gray-text:             #343333 !default;
$dark-bg:               #4d4d4d !default;
$gray-base:             #000000 !default;

// Recently Sold Section -
#recently_sold {
    padding: 60px 0 32px;
    .swiper-container {
        .badges {
            span.badge {
                width: 49%;
                margin-bottom: 5px;
                justify-content: space-evenly;
            }
            .badge {
                background-color: #f1f1f1;
                border-top: 0;
                img {
                    margin-right: 0;
                }
            }
        }
    }
}
// -recently sold section