$primary:               #f0ad4e !default;
$default-text:          #000000 !default;
$primary-text:          #de9e3c !default;
$gray-text:             #343333 !default;
$dark-bg:               #4d4d4d !default;
$gray-base:             #000000 !default;

// Recently Sold Section -
#recently_sold {
    padding: 60px 0 32px;
    .swiper-container {
        .badges {
            span.badge {
                width: 49%;
                margin-bottom: 5px;
                justify-content: space-evenly;
            }
            .badge {
                background-color: #f1f1f1;
                border-top: 0;
                img {
                    margin-right: 0;
                }
            }
        }
    }
}
// -recently sold section

// Reviews Section
#reviews {
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(../img/photos/prev_bg.png);
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .rev_header {
        width: 220px;
        margin: auto;
    }
    .ver_rev_title {
        .ver_r, .rev_r {
            font-size: 41px;
        }
    }
    .swiper-container-review {
        overflow: hidden;
        .swiper-button-next, .swiper-button-prev {
            background-image: none;
            background-color: $primary;
            padding: 10px 15px;
            transform: translateY(-50%);
            width: auto;
            height: auto;
            margin: 0;
        }
        .swiper-button-next {
            right: 0;
        }
        .swiper-button-prev {
            left: 0;
        }
    }
    .swiper-slide {
        color: #ffffff;
        .review_text {
            margin-bottom: 35px;
            font-size: 18px;
        }
        h4 {
            margin-bottom: 25px;
            color: $primary-text;
            font-style: italic;
            font-weight: 600;
            font-size: 22px;
        }
        span {
            display: inline-block;
            margin-bottom: 70px;
            color: #c3c0c0;
            font-size: 16px;
        }
    }
}

@keyframes rotateRev {
    0% {
      transform: rotateY(0deg);
    }
    2% {
      transform: rotateY(90deg);
    }
    4% {
      transform: rotateY(180deg);
    }
    7% {
      transform: rotateY(90deg);
    }
    10% {
      transform: rotateY(0deg);
    }
}
// reviews section