$primary:               #f0ad4e !default;
$default-text:          #000000 !default;
$primary-text:          #de9e3c !default;
$gray-text:             #343333 !default;
$dark-bg:               #4d4d4d !default;
$gray-base:             #000000 !default;

// Navbar
.navbar.home_nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid $primary;
    transition: all .3s;
    background-color: transparent;
    .navbar-toggler {
        border: none !important;
        padding: 0;
        margin-right: 20px;
        outline: none;
        .navbar-toggler-icon {
            background: none;
        }
        i {
            color: #ffffff;
            font-size: 35px;
        }
    }
    .nav-item {
        .nav-link {
            font-size: 16px;
            text-transform: uppercase;
            position: relative;
            padding: 20px 10px;
            margin: 0 5px;
            color: #ffffff !important;
            transition: all .3s;
            &:hover {
                color: $primary !important;
            }
        }
        &.active {
            .nav-link {
                color: $primary !important;
            }
        }
    }
    .navbar_right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 30px;
        transition: all .3s;
        .nav-link {
            padding: 25px !important;
            margin: 0 !important;
            background-color: #222222;
            text-transform: unset;
            font-size: 15px;
            color: #c2c2c2;
        }
        .basket {
            background-color: $primary;
        }
    }
    &.scrolled {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #222222;
        .navbar_right {
            bottom: 0;
        }
    }
    .nav_mobile_links {
        position: absolute;
        right: 0;
        top: 0;
        .nav-link {
            padding: 25px 16px;
        }
        .mob_card {
            background-color: $primary;
        }
    }
}
// navbar

// Hero Section
#hero {
    height: 100vh;
    position: relative;
    margin-bottom: 40px;
    .hero_nav_cont {
        height: calc(100% - 45px);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        .nav_srch {
            h2 {
                font-size: 31px;
                color: #ffffff;
                line-height: 1.5;
                margin-bottom: 25px;
                span {
                    font-size: 22px;
                }
            }
            form {
                max-width: none;
                .form-row {
                    input {
                        background-color: #ffffff;
                        padding: 20px;
                    }
                    .search_btn {
                        padding: 0 20px;
                    }
                }
            }
        }
        .hero_icons {
            .shipp_car {
                position: relative;
            }
            img {
                &.bnz_ship_1 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    -webkit-animation: spin 10s linear infinite;
                    -moz-animation: spin 10s linear infinite;
                    animation: spin 10s linear infinite;
                }
                &.bnz_ship_3 {
                    position: absolute;
                    left: 0;
                    top: 1.2px;
                }
                &.bnz_ship_2 {
                    animation: bobbing 0.08s infinite ease-in-out forwards alternate;
                }
                &.bnz_ship_4 {
                    padding-left: 22px;
                    box-sizing: content-box;
                }
            }
        }
    }
    .swiper-container-hero {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }
    .nav_srch {
        top: 50%;
        z-index: 2;
        width: 700px;
        max-width: 90%;
    }
    .swiper-slide {
        background-image: url('../../dist/img/photos/hero_bg_1.png');
        background-size: cover;
        background-position: center;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 100px;
        background-image: linear-gradient(black 0%, transparent 25%);
    }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
// hero section

// Main -
#product_view {
    margin-top: 35px;
    .prod_title {
        margin-bottom: 15px;
        h2 {
            font-size: 24px;
            color: $default-text;
            text-transform: uppercase;
            margin-bottom: 17px;
        }
        h3 {
            font-size: 16px;
            color: $default-text;
            span {
                color: $primary-text;
            }
        }
    }

    // Product Slider
    .prod_slider {
        max-width: 515px;
        margin-right: 48px;
        .swiper-container_prod {
            .swiper-slide {
                background-size: cover;
            }
            &.gallery-top {
                height: 385px;
                margin-bottom: 5px;
                border: 1px solid #afaeae;
                overflow: hidden;
                position: relative;
            }
            &.gallery-thumbs {
                height: 77px;
                overflow: hidden;
                .swiper-slide {
                    border: 1px solid #afaeae;
                }
            }
            .swiper-button-next, .swiper-button-prev {
                background-image: none;
                background-color: $primary;
                padding: 10px 15px;
                transform: translateY(-50%);
                width: auto;
                height: auto;
                margin: 0;
            }
            .swiper-button-next {
                right: 0;
            }
            .swiper-button-prev {
                left: 0;
            }
        }
        .war_icon {
            position: absolute;
            top: 20px;
            left: 15px;
            z-index: 2;
            opacity: 0.8;
        }
    }

    // Product Info
    .prod_info {
        max-width: 438px;
        margin-right: 65px;

        // Price Info
        .price_info {
            margin-bottom: 20px;
            h3 {
                font-size: 18px;
                color: $gray-text;
                line-height: 1.2;
                span {
                    font-size: 26px;
                    color: $primary-text;
                }
            }
            .msrp {
                font-size: 21.6px;
                line-height: 1.2;
                margin-right: 32px;
            }
            .save {
                font-size: 18px;
                color: #48990d;
                line-height: 1.2;
            }
        }

        // Shipping Info
        .ship_info {
            background-color: #5d5c5c;
            margin-bottom: 25px;
            p {
                color: #ffffff;
            }
            img {
                animation: bobbing 0.1s infinite ease-in-out forwards alternate;
            }
            @keyframes bobbing {
                0%{
                    transform: rotate(0) translateY(0.5px);
                }
                100%{
                    transform: rotate(0.4deg) translateY(1.5px);
                }
            }
        }

        // Info Table
        .info_table {
            table {
                margin-bottom: 30px;
                tr {
                    td {
                        font-size: 16px;
                        color: $gray-text;
                        line-height: normal;
                        padding: 6px 0;
                        border-top: none;
                        border-bottom: 1px solid #aaaaaa;
                        a {
                            font-weight: 600;
                            color: $primary-text;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        // Warranty
        .prod_warranty {
            h4 {
                font-size: 20px;
                color: #010101;
                line-height: 1.2;
                margin-bottom: 17px;
            }
            label {
                font-size: 14px;
                color: $gray-text;
                line-height: 1.2;
                padding-left: 6px;
                cursor: pointer;
                &:before, &:after {
                    width: 17px;
                    height: 17px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:before {
                    background-color: #ffffff;
                    border: 1.5px solid $primary-text;
                }
                .badge-light {
                    color: #ffffff;
                    background-color: #de9e3c;
                    border-radius: 50%;
                    margin-left: 7px;
                    height: 16px;
                    width: 16px;
                    padding: 3px 0;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
            .custom-radio .custom-control-input:checked~.custom-control-label::after {
                background-image: url(../img/icons/check_icon.svg);
                background-size: 10px;
            }
        }
    }

    // Buy Info
    .prod_buy {
        max-width: 352px;
        .btn {
            border-radius: 0;
            font-size: 20px;
            color: #ffffff;
            font-weight: 400;
            line-height: 1.7;
            padding: 12px;
            box-shadow: none !important;
            margin-bottom: 20px;
            &.btn-secondary {
                margin-top: 0;
                margin-bottom: 30px;
            }
            img {
                margin-right: 10px;
            }
        }
        .prod_notes {
            p {
                font-size: 16px;
                color: $default-text;
                margin-bottom: 20px;
                span {
                    font-weight: bold;
                }
            }
        }
    }

    // Product Bottom Info
    .prod_bottom_info {
        margin: 30px 0 50px;
        .container {
            background-color: #e0dede;
            .d-flex {
                padding: 25px 0;
                &:nth-child(2) {
                    border-right: 1px solid #979696;
                    border-left: 1px solid #979696;
                }
            }
            p {
                margin-left: 20px;
                font-size: 23px;
                color: $gray-text;
                line-height: 1.2;
            }
        }
    }

    // Product Description Accordion
    .prod_desc {
        .accordion {
            padding-left: 10px;
            .card {
                border: 0;
                border-bottom: 1px solid #676666;
                border-radius: 0;
                margin-bottom: 2px;
            }
            .card-header {
                padding: 35px 10px;
                background: none;
                border: 0;
                cursor: pointer;
                h5 {
                    font-size: 28.393px;
                    color: #010101;
                    line-height: 0.564;
                }
            }
            .card-body {
                padding: 0 10px 23px;
                p {
                    font-size: 20px;
                    color: $gray-text;
                    line-height: 1.421;
                }
            }
        }
    }

    // Payment Methods
    .payments {
        margin: 45px 0 55px 30px;
        img {
            margin-right: 40px;
        } 
    }
}

// Recently Sold Section -
#recent_arr {
    padding: 110px 0 32px;
    .sold_slider {
        margin-bottom: 46px;
    }
}
// -recently sold section

// Reviews Section
.customer_rev {
    .swiper-container-customer-review {
        padding-top: 75px;
        padding-bottom: 100px;
        overflow: hidden;
        .swiper-slide {
            height: auto;
        }
        .card {
            padding: 30px;
            background-color: #222222;
            height: 100%;
            .card-img-top {
                width: 50px;
                margin-bottom: 35px;
            }
            .card-body {
                .card-title {
                    font-size: 20px;
                    color: #ffffff;
                    margin-bottom: 22px;
                }
                .card-subtitle {
                    font-size: 15px;
                    color: #ffffff;
                    margin-bottom: 20px;
                    line-height: 1.45;
                }
            }
            .rev_status {
                margin-top: auto;
            }
            .rev_stars {
                img {
                    margin: 0 3px !important;
                    width: 16px;
                    &:first-child {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}
// reviews section

// Featured Parts
#featured_parts {
    margin-bottom: 55px;
    .parts_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        .part_card_one {
            &:nth-child(1) {
                &:hover {
                    img {
                        animation: shake 0.3s; 
                        animation-iteration-count: infinite;
                    }
                }
            }
            &:nth-child(3) {
                .card {
                    .card_effect {
                        &::before {
                            content: "";
                            position: absolute;
                            top: -25px;
                            right: 16%;
                            height: 400px;
                            width: 400px;
                            background-color: rgba(255, 252, 234, 0);
                            -webkit-clip-path: polygon(-20% 80%, 40% 120%, 89% 22%, 91% 18%, 91% 17%, 90% 15%, 87% 15%, 87% 15%, 84% 17%);
                            clip-path: polygon(-20% 80%, 40% 120%, 89% 22%, 91% 18%, 91% 17%, 90% 15%, 87% 15%, 87% 15%, 84% 17%);
                            transition: all .3s;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: -15px;
                            right: -85%;
                            height: 400px;
                            width: 400px;
                            background-color: rgba(249, 221, 81, 0);
                            -webkit-clip-path: polygon(1% 82%, 31% 99%, 71% 14%, 71% 13%, 71% 13%, 70% 12%, 70% 12%, 68% 12%);
                            clip-path: polygon(1% 82%, 31% 99%, 71% 14%, 71% 13%, 71% 13%, 70% 12%, 70% 12%, 68% 12%);
                            transition: all .3s;
                        }
                    }
                    &:hover {
                        .card_effect {
                            &::before, &::after {
                                background-color: rgba(255, 236, 141, 0.7);
                            }
                        }
                    }
                }
            }
            &:nth-child(6) {
                #bnz_bars {
                    height: 30px;
                    left: 42%;
                    position: absolute;
                    top: 15px;
                    width: 46px;
                }
                .bnz_bar {
                    background: $primary;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    width: 3px;
                    animation: sound 0ms -800ms linear infinite alternate;
                    display: none;
                    
                    &:nth-child(1)  { left: 1px; animation-duration: 474ms; }
                    &:nth-child(2)  { left: 6px; animation-duration: 533ms; }
                    &:nth-child(3)  { left: 11px; animation-duration: 407ms; }
                    &:nth-child(4)  { left: 16px; animation-duration: 458ms; }
                    &:nth-child(5)  { left: 21px; animation-duration: 400ms; }
                    &:nth-child(6)  { left: 26px; animation-duration: 427ms; }
                    &:nth-child(7)  { left: 31px; animation-duration: 541ms; }
                    &:nth-child(8)  { left: 36px; animation-duration: 469ms; }
                    &:nth-child(9)  { left: 41px; animation-duration: 387ms; }
                }
                &:hover {
                    .bnz_bar {
                        display: inline-block;
                    }
                }
            }
        }
        .card {
            background-color: $gray-text;
            padding: 40px 9%;
            height: 100%;
            overflow: hidden;
            border: 0;
            position: relative;
            .card_effect {
                position: relative;
                width: 104px;
                height: 80px;
                margin-bottom: 25px;
            }
            img {
                object-fit: contain;
            }
            .card-title {
                font-size: 16px;
                color: #ffffff;
                line-height: 1.2;
                margin-bottom: 13px;
            }
            .card-text {
                font-size: 14.444px;
                color: #d6d6d6;
                line-height: 1.2;
                margin-bottom: 25px;
            }
            .btn-sm {
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    }
}
@keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10% { transform: translate(-0.5px, -1px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1.5px) rotate(0deg); }
    40% { transform: translate(0.5px, -0.5px) rotate(1deg); }
    50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(1px, 0.5px) rotate(-1deg); }
    80% { transform: translate(-0.5px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(0.5px, -2px) rotate(-1deg); }
}
@keyframes sound {
    0% {
        opacity: .35;
        height: 0; 
    }
    100% {
        opacity: 1;       
        height: 10px;        
    }
}
// featured parts
// - main

// Footer Navigation
footer {
    .footer_nav {
        background-color: #292828;
        padding: 60px 15px 50px;
        .nav_cols {
            padding-bottom: 40px;
            margin-bottom: 26px;
            border-bottom: 1px solid #646464;
        }
        .footer_title {
            font-size: 19px;
            color: #f7f9fb;
            text-transform: uppercase;
            line-height: 0.842;
            margin-bottom: 20px;
            font-weight: 800;
        }
        .col-12 {
            padding: 0;
        }
        .footer_list {
            list-style: none;
            padding: 0;
            li {
                font-size: 15px;
                color: #c4c4c4;
                line-height: 1.467;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                img {
                    width: 19px;
                    margin-right: 15px;
                }
                a {
                    color: #c4c4c4;
                    text-decoration: none !important;
                    &:hover {
                        color: $primary-text;
                    }
                }
            }
            &.two_col {
                columns: 2;
                li {
                    margin-bottom: 0;
                }
            }
        }
        .popular, .links {
            padding-left: 7%;
            border-left: 1px solid #646464;
        }

        // Navigation Bottom
        .footer_socials {
            a {
                i {
                    font-size: 35px;
                    padding: 0 15px;
                    border-right: 1px solid #646464;
                    color: #b2b1b1;
                }
                &:hover {
                    i {
                        color: $primary-text;
                    }
                }
            }
        }
        .affiliates {
            .footer_title {
                margin: 0 35px 0 0;
            }
            a {
                margin-left: 10px;
            }
        }
    }
}
// footer navigation

// Footer Bottom
.footer_main {
    background-color: #000000;
    padding: 35px 0 135px;
    .footer_logo {
        img {
            margin-bottom: 15px;
        }
    }
    h6 {
        font-size: 11px;
        color: #ffffff;
        line-height: 2;
    }
    .payments {
        img {
            margin: 0 9px;
        }
    }
    .footer_info {
        p {
            font-size: 11px;
            color: #ffffff;
            line-height: 1.818;
            &:first-child {
                margin-bottom: 25px;
            }
        }
    }
}
// footer bottom